*{
    margin: 0;
    padding: 0;
}
/*Section principal*/
.header nav{
    box-shadow:inset 0 0 10px #FFA0A0;
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: white;
}
.header ul{
    text-align: right;
    padding: 40px;
    text-decoration: none;
}
.header li{
    display: inline;
    margin: 40px;
    width: 60px;
    padding: auto;
    color: #262A53;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;  
}
a{
    text-decoration: none;
}
.boton{
    text-decoration: none;
    background-color: #FFA0A0;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.principal{
    display: flex;
    width: 100%;
    padding-top: 150px;
}
/*PRIMER DIV IZQ*/
.primerdiv{
    flex-direction: column;
    align-content: center;
    padding-left: 150px;
    width: 50%;
    align-items: stretch;
    align-self: center;
}
.primerdiv>h2{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.primerdiv>h1{
    font-size: 80px;
    font-family:'Caveat', cursive;
    color: blueviolet;
}
.primerdiv>p{
    font-size: 20px;
    color: gray;
    padding-bottom: 20px;
}
.primerdiv>a{
    font-size: 20px;
    text-decoration: none;
    background-color: #FFA0A0;
    border-radius: 10px;
    padding: 10px 10px;
    color: white;
}
/*segundo div derecha*/
.segundodiv{
    width: 90%;
    text-align: center;
    flex-direction: column;
}
/*segunda section*/
/*Primeras 3 fotos*/
/*general*/
.segunsec{
    background-image: url(../imagenes/fondo.formulario.jpg);
    padding-top: 150px;
    padding-bottom: 100px;
}
.segunsec>h1{
    text-align: center;
    font-size: 50px;
    font-style:oblique;
    justify-content: center;

}
.segunsec>p{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(61, 60, 60);
    padding: 20px;
}
/*imagenes*/
.imagenesconocimientos{
    display: flex;
    width: 100%;
    align-content: space-between;
    justify-content: center;
    margin: 0 auto;
}
.uno{ 
    height: 250px;
    width: 250px;
    background-color: white;
    margin: 20px;
}
.dos{
    height: 250px;
    width: 250px;
    background-color: white;
    margin: 20px;
}
.tres{
    height: 250px;
    width: 250px;
    background-color: white;
    margin: 20px;
}
/*Segundo trio de imagenes*/
.imagenes2conocimientos{
    display: flex;
    width: 100%;
    align-content: space-between;
    justify-content: center;
    margin: 0 auto;
}
/*Comparten propiedades los 6 imagnes*/
/*SECCION COMILLAS*/
.tressec{
    background-color: #5e8094 ;
    color: white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    padding-bottom: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.imagencomi{
    width: 200px;
}
.cita{
    padding-top: 50px;
}
.cita>q{
    font-size: 40px;
    font-family: 'Bonheur Royale', cursive;
    font-family: 'Lobster', cursive;
}
.cita>p{
    font-size: 20px;
    padding-top: 60px;
}
/*SECCION MIS PROYECTOS*/
.cuartasec1{
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url(../imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.proyectos>h1{
    text-align: center;
    font-size: 50px;
    font-style:oblique;
    justify-content: center;
}
.proyectos>p{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(97, 95, 95);
    padding: 20px;
}
/*Imagenes de proyectos*/
.cuatrosec{
    display: flex;
    justify-content: center;
    width: 100%;
}
.text{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.imag{
    width: 20%;
    height: 300px;
    margin: 20px 10px;
    border: 1px dotted gray;
    background: white;
}
.pri{
    padding-top: 20px;
}
.segun{
    padding-top: 10px;
}
/*Ultima seccion formulario*/
/*Seccion Div contacctame*/
.ultsecc{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    background-image: url(../imagenes/fondo.formulario.jpg);
    padding-bottom: 150px;
}
.cont{
    width: 40%;
    flex-direction: column;
    justify-content: center;
    background-color: azure;
    padding-left: 30px;
    padding-top: 45px;
    padding-bottom: 100px;
}
.img1{
    display: block;
    clear: left;
}
.iconos a{
    color: black;
    font-size: 20px;
}
.titu1{
    font-size: 40px;
    text-align: center;
}
.textcont{
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
/*Seccion DIV escribeme*/
.formu{
    width: 50%;
    background-color: azure;
    padding-left: 30px;
    padding-top: 45px;
}
.nombre{
    flex-basis: 50%;
    display: inline-block;
    margin: 15px;
}
.apellido{
    flex-basis: 50%;
    display: inline-block;
    margin: 15px;
}
.email{
    margin: 15px;
}
.mensaje{
    margin: 15px;
}
.textfrm{
    font-size: 20px;
}
input{
    padding: 10px 15px;
}
.email>input{
   width: 63%;
}
.mensaje>input{
    padding: 75px 135px;
}
/*FOOTER*/
.footer{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #5e8094 ;
    padding-bottom: 30px;
}
.navfo{
    width: 100%;
    display: inline-block;
}
.ulfo{
    list-style: none;
    text-align: center;
    padding: 20px;
    word-spacing: 20px;
}
.lifo{
    display: inline-block;
    color:white;
}
.lifo a{
    word-spacing: 30px;
    text-decoration: none;
    color: white;
    font-size: 19px;
}
/*footer iconos*/
.iconos2{
    text-align: center;
}
.ico{
    text-align: center;
    display: inline-block;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
/*ACA ENPIEZAN LOS HOVER*/
.header li:hover{
    background-color: #FFA0A0;
    border-radius: 40px;
    padding: 10px;
}
.header a:hover{
    color:white
}
/*-------------------------*/
.primerdiv a:hover{
    padding: 20px;
}
/*-------------------------*/
.img:hover{
    border: 2px solid violet;
}
/*-------------------------*/
.imag:hover{
    border: 2px solid violet;
}
/*-------------------------*/
.img1:hover{
    background-color:#FFA0A0;
    border-radius: 40px;
    padding: 10px;
}
.iconos a:hover{
    background-color: #262A53;
    border-radius: 50px;
    padding: 5px;
    color:white;
}
