*{
    margin: 0;
    padding: 0;
}
.shadow{
    position: fixed;
    width: 10%;
    height: 100%;
    right: -150px;
    box-shadow: -10px 0px 25px 1px #5e8094;
}
/*Section principal*/
.header nav{
    box-shadow:inset 0 0 10px #FFA0A0;
    height: 6.25em;
    position: fixed;
    width: 100%;
    background-color: white;
}
.header ul{
    text-align: right;
    padding: 2.5em;
    text-decoration: none;
}
.header li{
    display: inline;
    margin: 2.5em;
    width: 3.75em;
    padding: auto;
    color: #262A53;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;  
}
a{
    text-decoration: none;
}
.boton{
    text-decoration: none;
    background-color: #FFA0A0;
    border-radius: 0.625em;
    padding: 0.625em;
    color: white;
}
/*DIV PRINCIPAL*/
.principal{
    display: flex;
    width: 100%;
    padding-top: 9.375em;
    padding-bottom: 9.375em;
}
/*PRIMER DIV IZQ*/
.primerdiv{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 1.25em;
    text-align: center;
    align-self: center;
}
.primerdiv>h2{
    font-size: 2.8125em;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0.625em;
}
.primerdiv>h1{
    font-size: 5em;
    font-family:'Caveat', cursive;
    color: blueviolet;
}
.primerdiv>p{
    font-size:1.25em;
    color: gray;
    padding-bottom: 1.25em;
}
.primerdiv>a{
    font-size: 1.25em;
    text-decoration: none;
    background-color: #FFA0A0;
    border-radius:  0.625em;
    padding:  0.625em  0.625em;
    color: white;
}
/*segundo div derecha*/
.segundodiv{
    width: 50%;
    text-align: center;
}
/*segunda section*/
/*Primeras 3 fotos*/
/*general*/
.segunsec{
    background-image: url(../imagenes/fondo.formulario.jpg);
    padding-top: 9.375em;
    padding-bottom: 6.25em;
}
.segunsec>h1{
    text-align: center;
    font-size: 2.5em;
    font-style:oblique;
    justify-content: center;

}
.segunsec>p{
    text-align: center;
    font-size: 1.25em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(61, 60, 60);
    padding: 1.25em;
}
/*imagenes*/
.imagenesconocimientos{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 800px;
}
.img22{ 
    height: auto;
    width: 20%;
    background-color: white;
    margin: 1.25em;
    padding: 0.625em;
}
/*Comparten propiedades los 6 imagnes*/
/*SECCION COMILLAS*/
.tressec{
    background-color: #5e8094 ;
    color: white;
    text-align: center;
    padding-left: 1.875em;
    padding-right: 1.875em;
    padding-top: 6.25em;
    padding-bottom: 4.375em;
    margin-top: 3.125em;
    margin-bottom: 3.125em;
}
.imagencomi{
    width: 12.5em;
}
.cita{
    padding-top: 3.125em;
}
.cita>q{
    font-size: 2.5em;
    font-family: 'Bonheur Royale', cursive;
    font-family: 'Lobster', cursive;
}
.cita>p{
    font-size: 1.25em;
    padding-top: 3.75em;
}
/*SECCION MIS PROYECTOS*/
.cuartasec1{
    padding-top: 6.25em;
    padding-bottom: 9.375em;
    background-image: url(../imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.proyectos>h1{
    text-align: center;
    font-size: 3.125em;
    font-style:oblique;
    justify-content: center;
}
.proyectos>p{
    text-align: center;
    font-size: 1.25em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(97, 95, 95);
    padding: 1.25em;
}
/*Imagenes de proyectos*/
.cuatrosec{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
}
.text{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}
.imag{
    height: auto;
    width: 18.75em;
    margin: 0.625em;
    border: 1px dotted gray;
    background: white;
}
.pri{
    padding-top: 1.25em;
}
.segun{
    padding-top: 0.625em;
}
/*Ultima seccion formulario*/
/*Seccion Div contacctame*/
.ultsecc{
    display: flex;
    justify-content: center;
    padding-top: 9.375em;
    background-image: url(../imagenes/fondo.formulario.jpg);
    padding-bottom: 9.375em;
}
.cont{
    width: 40%;
    justify-content: center;
    background-color: azure;
    padding-top: 2.8125em;
}
.iconos{
    padding-left: 1.25em;
    padding: 0,9375em;
    margin: 0.625em;
}
.img1{
    display:inline-block;
    margin-right: 1.25em;
}
.iconos a{
    color: black;
    font-size: 1.25em;
}
.titu1{
    font-size: 2.5em;
    text-align: center;
}
.textcont{
    font-size:  1.25em;
    text-align: center;
    padding:  1.25em;
}
/*Seccion DIV escribeme*/
.formu{
    width: 40%;
    background-color: azure;
    padding-top: 2.8125em;
}
.nombre{
    display: inline-block;
    margin: 0.9375em;
}
.apellido{
    display: inline-block;
    margin: 0.9375em;
}
.email{
    width: 65%;
    margin: 0.9375em;
}
.mensaje{
    width: 65%;
    margin: 0.9375em;
}
.textfrm{
    font-size: 1.25em;
}
input{
    padding: 0.625em;
}
.email>input{
    width: 95%;
}
.mensaje>input{
    width: 95%;
    height: 6.25em;
}
.boto2{
    padding-left: 3.75em;
    width: 10%;
}
.boton2{
    text-align: center;
    border-radius: 3.125em;
    padding: 0.9375em;
    background-color: #FFA0A0;
}
/*FOOTER*/
.footer{
    padding-top: 1.875em;
    display: flex;
    justify-content: center;
    background-color: #5e8094 ;
    padding-bottom: 1.875em;
}
.navfo{
    width: 100%;
    display: inline-block;
}
.ulfo{
    list-style: none;
    text-align: center;
    padding: 1.25em;
    word-spacing: 1.25em;
}
.lifo{
    display: inline-block;
    color:white;
}
.lifo a{
    word-spacing: 1.875em;
    text-decoration: none;
    color: white;
    font-size: 1.1875em;
}

/*footer iconos*/
.iconos2{
    text-align: center;
}
.ico{
    justify-content: center;
    display: inline-block;
    background-color: white;
    border-radius: 200px;
    padding: 0,625em;
    margin-left: 1.25em;
    margin-right: 1.25em;
}
.ico img{
    text-align: center;
    padding-left: 1.25em;
}
/*ACA ENPIEZAN LOS HOVER*/
.header li:hover{
    background-color: #FFA0A0;
    border-radius: 2.5em;
    padding: 0.625em;
}
.header a:hover{
    color:white
}
/*-------------------------*/
.primerdiv a:hover{
    padding: 1.25em;
}
/*-------------------------*/
.img22:hover{
    border: 5px solid violet;
}
/*-------------------------*/
.imag:hover{
    border: 5px solid violet;
}
/*-------------------------*/
.iconos a:hover{
    color: limegreen;
}
.img1:hover{
    background-color:#FFA0A0;
    border-radius: 40px;
    padding: 0.625em;
}
/*-------------------------*/
.ico:hover{
    background-color: #FFA0A0;
}
/*AQUI COMIENZA EL MEDIA QUERIT*/
@media(max-width:1100px){
    header{
        visibility: hidden;
    }
    .principal{
        flex-direction: column;
        margin: 0 auto;
    }
    .primerdiv{
        width: 100%;
        padding-bottom: 6.25em;
        text-align: center;
    }
    .primerdiv p,a{
        padding: 1.875em;
    }
    .primerdiv h1{
        text-size-adjust: 1.25em;
    }
    .segundodiv{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 6.25em;
    }
    .segundodiv img{
        width: 60%;
        height: auto;
    }
    .lifo a{
        padding: 0.625em;
    }
    .ico a{
        padding: 0.625em;
    }
}
@media(max-width:970px){
    .imagenesconocimientos{
        max-width: 600px;
    }
    .img22{
        width: 40%;
    }
}
@media(max-width:900px){
    .segundodiv img{
        width: 80%;
    }
    .ultsecc{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  .cont{
      justify-content: center;
      width: 90%;
      margin: 0 auto;
  }
  .formu{
      justify-content: center;
      margin: 0 auto;
      width: 90%;
  }
}

